In [307]:
import pandas as pd
import numpy as np

In [308]:
# read the data from excel file
df = pd.read_excel('SurveyForm_analysis.xlsx')

In [309]:
# changing the column names
df.columns = ['Timestamp', 'Name', 'Profession', 'Gender', 'Age group',
       'Residence Type', 'Locality Name', 'City','delivery time','delivery charges',
       'installing many apps',  'services','products','suggestions','smart device','unnamed']

In [310]:
# store the suggestions
suggestions = df['suggestions']


# drop unnamed , time stamp, name, locality, suggestions
df = df.drop(['Timestamp', 'unnamed', 'Locality Name', 'Name', 'suggestions' ],axis=1)

In [311]:
columns = list(df.columns)

In [312]:
# mapping female to 0, male to 1
gender = {'Female': 0, 'Male':1}
df['Gender'] = df['Gender'].map(gender)

In [313]:
# mapping age group
age_group = { 'Below 18 yrs': 0, '18 -25 yrs':1, '25 - 35 yrs': 2, '26 - 35 yrs' :2,  'Above 35 yrs': 3}
df['Age group'] = df['Age group'].map(age_group)

In [314]:
# mapping profession
profession = { 'Student': 0, 'Employee':1, 'Business Man': 2, 'Business' :2,  'Others': 3}
df['Profession'] = df['Profession'].map(profession)
df['Profession'] = df['Profession'].fillna(3)

In [315]:
# mapping residence type
residence = { 'Flat / Residency': 0, 'Pg / Hostel accomodation':1, 'PG/Hostel accommodation': 1}
df['Residence Type'] = df['Residence Type'].map(residence)
df['Residence Type' ] = df['Residence Type'].fillna(0)

In [316]:
# mapping city
city = {'Pune':4,
        'Rajanna siricilla': 1, 
        'Hyderabad': 1,
        'Warangal':1,
       'West Imphal':16, 'Pune ':4, 'Mumbai':2, 'Hyderabad ':1, 'Wgl':1,
       'Hanamkonda':1, 'Kataram':1, 'Karimnagar':1, 'Bhupalapally':1, 'Huderabad':1,
       'Kochi':13, 'Bokaro':14, 'minneapolis ':1, 'Bhupalpally':1, 'benguluru':0,
       'Raichur':17, 'Rjy':8, 'Pune(obvious):':4, 'Kharagpur':6, 'Hyberabad':1,
       'khagaria':18, 'Chennai':5, 'delhi':3, 'Bangalorr:':0, 'Bangalore':0,
       'Kolkata ':6, 'Bihar':18, 'Kolkata':6, 'Gurgaon':7, 'Bhagalpur':18, 'Bagaha':18,
       'Motihari':18, 'Ranchi':11, 'Manila':18, 'Jaipur':10, 'Gurugram':7, 'Chaibasa':18,
       'Noida':12, 'kochi':13, 'Jamshedpur':14, 'bijapur':18, 'chandigarh ':15, 'Delhi':3,
       'VISAKHAPATNAM':8, 'Tirupati':8, 'Bhubaneswar':9, 'HUBLI':19, 'Jaipur ':10,
       'Anantapur':8, 'vijayawada':8, 'Ludhiana':15, 'warangal':1, 'Chennai ':5,
       'Dharmaram':13, 'New Delhi':3, 'Darmstadt':13, 'Den Haag':3, 'Bremen':13,
       'Bonn':13, 'Bengaluru': 0, 'BANGALORE':0}


df['City'] = df['City'].map(city)
df['City'] = df['City'].fillna(0)

In [320]:
# mapping opinion on more delivery time
more_delivery_time = {'Yes':1, 'No':0}
df['delivery time'] = df['delivery time'].map(more_delivery_time)

In [323]:
# mapping opinion on more delivery cost
more_delivery_cost = {'Yes':1, 'No':0}
df['delivery charges'] = df['delivery charges'].map(more_delivery_time)

In [326]:
# mapping opinion on installing different apps
installing_various_apps = {'Yes':1, 'No':0}
df['installing many apps'] = df['installing many apps'].map(installing_various_apps)

In [327]:
# mapping services 
services = {'Laundry':1,  'Drinking water supply':2, 'House/Room Cleaning':3,  'Electrician services':4,  'Automobile services':5 ,  'Gadgets/Electronics service':6,
           'Tailoring':7, 'Plumber service':8,  'Salon service':9  ,'House Painting':10, 'Above all':0 
           }

import re
serv = {}
for key in services:
    if key == 'Above all':
        key = "all services"
    serv[key] = [1  if re.search(key, str(service))  else 0 for service in df['services']]

In [328]:
# mapping products 
products = {'Vegetables and Fruits':1,  'Dairy products':2, 'Grocery':3,  'Bakery items':4,  'Medical products':5 ,  'Meat supply':6,
           'Clothes/Garments':7,  'Above all':0 
           }

import re
prod = {}
for key in products:
    if key == 'Above all':
        key = 'all products'
    prod[key] = [1  if re.search(key, str(service))  else 0 for service in df['products']]

In [329]:
# drop service , products columns i.e 11 th and 12 th column
df = df.drop(['services', 'products'], axis=1)

In [330]:
# insert  the new column by each service 
start = 8

for key in serv:
    df.insert(loc=start, column=key, value=serv[key])
    start += 1

In [331]:
# insert  the new column by each product 
start = 19

for key in prod:
    df.insert(loc=start, column=key, value=prod[key])
    start += 1

In [332]:
# mapping opinion on smart device
smart_device = {'Yes':1, 'No':0, 'NaN':2}
df['smart device'] = df['smart device'].map(smart_device)
df['smart device'] = df['smart device'].fillna(2)

In [334]:
# drop any na values 
df = df.dropna()

In [336]:
# convert the data to numeric
df = df.apply(pd.to_numeric)

In [337]:
# convert City, smart device columns to int
df.City = df.City.astype(int)
df['smart device'] = df['smart device'].astype(int)

In [338]:
# get the numpy matrix from the dataframe
data = df.values

In [339]:
# final column list
COLUMNS = df.columns

In [340]:
# dataset size
(m, n) = data.shape

In [341]:
# Get the percentage partician from hyderbad and bangalore
COUNT_FROM_HYD = np.sum(data[:, 4]== 1)
PERCENTAGE_PARTICIPATION_HYD = (COUNT_FROM_HYD/m)*100

COUNT_FROM_BLR = np.sum(data[:, 4]== 0)
PERCENTAGE_PARTICIPATION_BLR = (COUNT_FROM_BLR/m)*100

In [342]:
#counts
print("Hyd: {}, Blr: {}".format(COUNT_FROM_HYD, COUNT_FROM_BLR))

Hyd: 57, Blr: 63

In [271]:
data.shape

(71, 28)

In [272]:
df.shape

(71, 28)